.center-intro-wrapper {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #FEF5E7;
}

.center-intro-wrapper .inner {
  display: flex;
  flex-direction: row;
  width: 1400px;
  margin: 0 auto;
  padding: 60px 100px;
  background-color: #FEF5E7;
}

.center-intro {
  width: 700px;
  background-color: #FEF5E7;
  letter-spacing: 0.1;
}
.center-intro h1 {
  font-family: 'Pretendard-Bold';
  font-size: 34px;

  line-height: 1.5;
  letter-spacing: 2px;
  background-color: #FEF5E7;
}

.center-intro p{
  margin-top: 40px;
  font-family: 'Pretendard-Medium';
  font-size: 20px;
  font-weight: 500;
  color: #666666;  

  line-height: 1.4;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
  background-color: #FEF5E7;
}

.center-reason {
  margin-top: 40px;
}

.center-bottom h2 {
  font-family: 'Pretendard';
  font-size: 30px;
  font-weight: 600;
  margin: 30px;
}

.image-item {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.image-item img {
  margin-top: 40px;
  width: 400px;
  height: auto;
}
.image-row {
  background-color: #fafafa;
}
.image-row p {
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 400;    
  text-align: center;
  letter-spacing: -0.5px;

  margin-top: 40px;
}

.info-banner {
  display: flex; 
  align-items: center; 
  gap: 12px;
  background-color: #FEF5E7;
  width: fit-content;
  padding: 0 50px;
  margin: 50px auto;
  border-radius: 20px;
}
.info-banner img{
  width: 100px;
  background-color: #FEF5E7;
}

.center-bottom h3 {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 500;

  line-height: 1.3;
  letter-spacing: 1.3px;

  display: block;
  width: fit-content;
  background-color: #FEF5E7;

  padding: 12px 16px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;    
  margin-right: auto;
}

.definition-wrapper {
  margin-left: 30px;
  background-color: #FAFAFA;
}

.definition{
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 600;
  color: #666;
  
  margin-top: 15px;
  margin-bottom: 10px;
}

.definition-sub {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 500;
  color: #666;
  
  margin-top: 20px;
  margin-bottom: 100px;
}

.calculation {
  display: flex;
  justify-content: center; /* 또는 center */
  align-items: center;
  gap: 30px; /* SVG 사이 간격 */
  padding: 20px 50px;
  flex-wrap: wrap; /* 줄바꿈 대응 (작은 화면용) */
  background-color: #FAFAFA;
}

.svg-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
}

.svg-box svg{
  background-color: #fafafa;
}
.svg-box p {
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  color: #333;

  margin: 15px 0;
}

.key-message {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  box-sizing: border-box;
  height: 350px;
  background-color: #FEF5E7;
}

.key-message .inner {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #FEF5E7;
}

.key-message h2{
  width: 1200px;
  padding: 36px 10px;
  padding-bottom: 48px;
  background-color: #FEF5E7;
  margin: 0;
}



.connection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0 100px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #FEF5E7;
}

.connection-item {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;

  position: relative;
  flex: 1 1 calc(50% - 20px);  /* 2열 배치 */
  background-color: #FEF5E7;
  padding-left: 28px;  /* 아이콘 공간 */
}

.connection-item::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #f39c12;
  font-size: 20px;
  line-height: 1.6;
}

.comment {
  font-family: 'Pretendard';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FEF5E7;
}

.comment span {
  font-family: 'Pretendard-SemiBold';
  font-size: 20px;
  color: #F39C12;  

  background-color: #FEF5E7;
}

.comment .quote-icon {
  width: 34px;
  height: auto;

  margin: 0 18px;
  background-color: #FEF5E7;
}


.caution-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1024px;
  height: 200px;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 48px 47px;
  gap: 10px;
  flex-wrap: wrap; /* 반응형 대응 */
  margin: 0 auto;
  margin-top: 115px;
}

.caution-text {
  background-color: #f4f4f4;
}

.caution-text h2 {
  font-family: 'Pretendard-SemiBold';
  font-size: 28px;
  font-weight: 700;
  color: black;

  background-color: #f4f4f4;
  margin: 0;
  margin-bottom: 16px;
}

.caution-text p {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 1.6;

  background-color: #f4f4f4;
  margin-bottom: 20px;
}

.caution-icons {
  display: flex;
  gap: 32px;
  background-color: #f4f4f4;
}

.icon-item {
  text-align: center;
  background-color: #f4f4f4;
}

.icon-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;

  background-color: #f4f4f4;
}

.icon-item p {
  font-family: 'Pretendard-Medium';
  font-size: 14px;
  color: black;
  font-weight: 600;

  background-color: #f4f4f4;
  margin-top: 8px;
}

.block-icon {
  fill: #2C3E50;
  background-color: #f4f4f4;
}

.check-icon {
  fill: #F39C12;
  background-color: #f4f4f4 !important;
}

.faq-item {
  margin-left: 30px;
  background-color: #fafafa;
}
.faq-item p{
  background-color: #fafafa;
}
.faq-item summary {
  background-color: #fafafa;
}

.arrow-drop-up {
  background-color: #fafafa;
}


.notice-item {
  background-color: #fafafa;
}
.notice-title {
  background-color: #fafafa;
}
.notice-desc {
  background-color: #fafafa;
}
.notice-date {
  background-color: #fafafa;
}
